body, html {
    background-image: url(.../img/new.jpg);
  }
  img
  {
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
  }
  
  .heading
  {
    color:#07031a;
    font-family: Segoe UI; 
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    
    padding-top: 5%;
  }
  .heading2
  {
    color:black;
    font-family: Segoe UI; 
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding-top: 6%;
  }
  .heading4
  {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  
 
 
